*{
  margin:18px;
  color: black;
}
h1{
  color: Blue;
  font-size: 40px;
}
li::marker{
  font-style: oblique;
  font-size:20px;
color: Blue;

}

img{
  position:relative;
}
table {

  background-color: yellow;
  border-color: green;
}

h3{
color:Blue;
font-style: oblique;
}
h3,p{
  display: inline-block;
}
h1::selection{
  color:red;
  background: yellow;
}
body{
background:  #FBFDAC;

}
ol, li{
  font-style: oblique;
}
h3,li{
  font-style: oblique;
}
